html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#webview {
  width: 100%;
  flex: 1;
}

#status-bar {
  height: 24px;
  background-color: #000;
  margin: 0;
  padding: 0 5px;
  color: #fff;
  text-align: right;
}

#clock {
  line-height: 24px;
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
}

#system-toolbar {
  height: 32px;
  background-color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}

#system-toolbar li {
  margin: 0 32px;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  list-style-type: none;
}

#system-toolbar button {
  border: none;
  padding: 0px;
  margin: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  opacity: 0.9;
}

#system-toolbar button:active {
  opacity: 1;
}

#home-button {
  background-image: url("../images/home.svg");
}

#back-button {
  background-image: url("../images/back.svg");
}

#reload-button {
  background-image: url("../images/reload.svg");
}