#window-switcher-view {
  flex: 1;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#window-switcher-view.hidden {
  display: none;
}

#thumbnail-placeholder {
  color: #fff;
  font-size: 14px;
}

#thumbnail-placeholder.hidden {
  display: none;
}